<div ng-controller="UserCtrl" class="container">
  <div ng-hide="session">
    <div class="col-sm-2" ></div>
    <div class="col-sm-6" >
       <form ng-submit="formNewUserSubmit()" class="form-singin" >
          <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Nombre</label>
              <input ng-model="user.Nombre" type="text" ng-required="true">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Apellido</label>
              <input ng-model="user.Apellido" type="text" ng-required="true">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Usuario</label>
              <input ng-model="user.Usuario" type="text" ng-required="true">
            </md-input-container>

            <md-input-container class="md-block">
              <!-- Use floating placeholder instead of label -->
              <input ng-model="user.Correo" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>
          </md-content>
          <center><md-button type="submit" class="md-raised md-primary">Guardar</md-button></center>
         </form>
    </div>
  </div>



  <div ng-show="session"  class="container">
   <div ng-controller="ChatCtrl" > 

     <center><h2>sala chat online</h2></center>
        <input ng-model="nombreUsurioLogin" value="{{nombreUsurioLogin}}" id="nombreusurioLogin" type="text" style="display:none;" >
        <input ng-model="habloCon" id="habloCon" type="text"  style="display:none;" >
        <input ng-model="idRec" id="idRec" type="text"  style="display:none;" >
   

    <!-- Usuario activos -->
        <div class=" col-sm-3 panel panel-default">
          <div class="panel-heading" >Usuarios activos
          </div>
          <div id="UserActive" class="panel-body">
            <div ng-repeat="user in users" >
              <div>
                <button ng-if="user.Nombre !== nombreUsurioLogin" class="btn btn-default" ng-click="chatPrivado(user.id,user.Nombre);" ><span class="ntf" id="ntf{{user.Nombre}}"></span>{{user.Nombre}}</button>
              </div>
            </div>
          </div>
        </div> 
        
        <div class="col-sm-4" ng-show="chatActive" >
          <div class="panel panel-primary" id="ContentChatPrivado" >
            <div class="panel-heading" > chat Privado Con {{habloCon}}
            </div>
              <div id="panelChatPrivado" class="panel-body pre-scrollable">
                  <div  ng-repeat="ChatPrivate in chatsPrivate">
                      <p ng-if="ChatPrivate.NombreEm === nombreUsurioLogin" style="text-align: right;">{{ChatPrivate.msg}}</p>
                      <p ng-if="ChatPrivate.NombreEm !== nombreUsurioLogin" style="text-align: left;">{{ChatPrivate.msg}}</p>
                  </div>
              </div>
              <div>
                  <form id="formMensajeChatPrivado" ng-submit="formNewMsgPrivate()" >
                    <input id="codigoChat" type="number" style="display:none;" >
                    
                    <md-input-container class="md-block">
                      <!-- Use floating placeholder instead of label -->
                      <input id="mensajeChatPrivado" ng-model="msgChatPrivado" type="text" placeholder="Mensaje" >
                         <button  id="msgPrivado" class="btn btn-lg" type="submit" style="display:none;" >Enviar</button>
                    </md-input-container>
                 
                  </form>
              </div>
          </div>
        </div>

       <div  class="col-sm-5">
         <div class="panel panel-success" id="chatContent" >
          <div class="panel-heading" >Chat Global
          </div> 
          <div class="panel-body pre-scrollable">
            <div id="ChatGroup">
          </div>
          </div>
            <form id="formMensaje" ng-submit="formNewMsgGroup()">
              <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Mensaje</label>
              <input  id="mensaje" ng-model="msgGroup" type="text">
             <button style="display: none;" class="btn btn-lg" type="submit">Enviar</button>
            </md-input-container>
            </form>
         </div>
       </div>

    </div>
</div>